
.footer-distributed{
	background:  #f5cac3;
	box-shadow: 0 1px 1px 0 #33383b(0, 0, 0, 0.12);
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}



section {
  width: 100%;
  display: inline-block;
  color: rgb(249, 248, 245);
  text-align: center;
  font-size: 22px;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
  font-family: "Poppins" , sans-serif;
}

/* The company logo */

.footer-distributed h3{
  text-decoration: none !important;
  color: rgb(240, 236, 224);
  font-size: 1.4rem;
	font: 45px 'Roboto', sans-serif;
	margin: 10px;
}

.footer-distributed h3 span{
	color:  #ef6351;
}

.footer-distributed h3 span.symbol {
  color: rgb(240, 236, 224);
  font-size: 20px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #33383b;
	margin: 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
  color: inherit;
  text-align: center;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
  text-align: center;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 3px;

	font-size: 20px;
	color: rgb(249, 248, 245);
	text-align: center;
	line-height: 35px;

	margin-right: 5px;
	margin-bottom: 5px;
  margin-left: 20px
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
  font-family: "Poppins" , sans-serif;
  text-align: center;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #33383b;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
    align-items: center;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
    align-items: center;
	}
}
