.navbar {
  width: 100%;
  height: 120px;
  background-color: #f5cac3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar__logo h3 {
    text-decoration: none !important;
    color: rgb(249, 248, 245);
    font-size: 1.4rem;
    font: 45px 'Roboto', sans-serif;
    margin: 0 0 10px;
}

.navbar__logo h3 span{
	color:  #ef6351;
}

.navbar__logo h3 span.symbol {
  color: rgb(249, 248, 245);
  font-size: 20px;
}
.navbar__logo a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
  color: inherit;
  font: bold 16px sans-serif;
}

.welcome-note {
  text-align: center;
	opacity: 2;
	animation: flickerI 10s linear  reverse infinite;
}

.welcome-note h5 {
  color: #5c666b;
  font-weight: normal;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links li {
  padding-left: 1.5rem;
}

.navbar__links li a {
  color: #33383b;
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  align-items: center;
}

.navbar__links li a span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cartlink {
  background-color: #f5cac3;
  padding: 10px;
}

.cartlink:hover {
  background-color: #33383b;
  border-radius: 3px;
  color: rgb(249, 248, 245);
}

.cartlogo__badge {
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hamburgermenu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburgermenu div {
  width: 100%;
  height: 2px;
  background-color: #33383b;
}

.hamburgermenu:hover div {
  background-color: rgb(249, 248, 245);
}

@media (max-width: 960px) {
  .navbar__links{
    display: none;
  }
  .hamburgermenu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1.2rem;
  }
}