.product {
  width: 250px;
  padding: 1rem;
  padding-bottom:5rem;
  background-color: rgb(249, 248, 245);;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product img {
  width:  235px;
  height: 235px;
  background-size: cover;
  border-radius: 3px;
}


.product__info {
  margin-bottom: 8px;
  color: #33383b;
}

.info__name {
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
}

.info__description {
  font-size: 0.8rem;
  overflow: hidden;     
}

.info__button {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background: #F3AEA6;
  color: #33383b;
  border-radius: 3px;
}

.info__button:hover {
  background: #F3AEA6;
  color: #fff
}