.homescreen {
  max-width: 1300px;
  height: 100vh;
}

.homescreen__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
}

.homescreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}